<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <style>
        /* font {
            font-family: "Times New Roman", Times, serif;
        } */

        .fondo {
            background: url("{{foto}}");
            /* background-image: url("../assets/invoice.png"); */
            background-repeat: no-repeat;
            background-size: auto;
            /* width: 100vw;
            height: 100vh; */
        }

        .espacio {
            width: 100vw;
            height: 100vh;
        }
    </style>
</head>

<body>
    <!-- use the class fondo to set the background to the page -->
    <div class="container-fluid fondo">
        <div class="row justify-content-center align-items-center espacio">
            <div class="col-3"></div>
            <div class="col-6">
                <h1 class="text-center display-1 font-weight-bold">Pack de graficas</h1>
                <hr>
                <h2 class="text-center">Total de graficas: {{total}}</h2>
                <img src="{{foto}}" alt="grafica" class="img-fluid">
                <p>{{foto}}</p>
            </div>
        </div>
</body>

</html>